body{
  background-color: #eeeeee;
}

.question{
  font-family: sans-serif;
  color: #5a6772;
}
.btn{
  margin-top: 30px;
}
#btn1, #btn2, #btn3, #btn4{
  width: auto;
  font-size: 20px;
  border: 1px solid #1d3c6a;
  border-radius: 40px;
  margin: 10px 40px 10px 0px;
  padding: 10px 10px;
  color: white;
}

#submit, #nxt, #calculate{
  border: 1px solid blue;
  padding: 10px;
  margin-top: 30px;
  border-radius: 20px;
}

#quizstart{
  display: block;
  border: 1px solid blue;
  margin-top: 50px;
  border-radius: 20px;
}

#progess{
  color: #2b2b2b;
  font-size: 18px;
}
#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover{
  cursor: pointer;
  background-color: #57636e;
}
#btn1:focus, #btn2:focus, #btn3:focus, #btn4:focus{
  outline: 0;
}
.selected{
  background-color: blue;
}



